// Visually hide the element
//
// Still makes element accessible
@mixin visuallyhide {
  clip: rect(0 0 0 0);
  position: absolute;
  width: calculateRem(1);
  height: calculateRem(1);
  overflow: hidden;
  margin: calculateRem(-1);
  padding: 0;
  border: 0;
}
