/**
  Grids Configuration File.

  Naming Convention:
  $Namespace-propertyDescription--modifier

  - Imports
  - General

**/

// Imports

// General
$Grid-gutter--mobile: 16;
$Grid-gutter--desktop: 20;
$Grid-divisible: 12;
