@import './svg/checkbox_default.scss';
@import './svg/checkbox_disabled.scss';
@import './svg/checkbox_disabled_selected.scss';
@import './svg/checkbox_error.scss';
@import './svg/checkbox_error_selected.scss';
@import './svg/checkbox_focus_default.scss';
@import './svg/checkbox_focus_disabled.scss';
@import './svg/checkbox_focus_disabled_selected.scss';
@import './svg/checkbox_focus_error.scss';
@import './svg/checkbox_focus_error_selected.scss';
@import './svg/checkbox_focus_selected.scss';
@import './svg/checkbox_selected.scss';

@import './svg/radio_default.scss';
@import './svg/radio_disabled.scss';
@import './svg/radio_disabled_selected.scss';
@import './svg/radio_error.scss';
@import './svg/radio_error_selected.scss';
@import './svg/radio_focus_default.scss';
@import './svg/radio_focus_disabled.scss';
@import './svg/radio_focus_disabled_selected.scss';
@import './svg/radio_focus_error.scss';
@import './svg/radio_focus_error_selected.scss';
@import './svg/radio_focus_selected.scss';
@import './svg/radio_selected.scss';

.Form-checkbox, .Form-radio {

  &--inline {
    display: inline-block;
  }

  input[type="checkbox"], input[type="radio"] {
    opacity: 0;
    margin-left: calculateRem(-21);
  }

  label {
    display: inline-block;
    position: relative;
    padding: calculateRem(5 5 10) calc(#{calculateRem(21)} + 1ch);
    margin: 0 1ch 1ch calculateRem(5);

    &:focus {
      outline: none;
    }

    &::before {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-size: cover;
      width: calculateRem(21);
      height: calculateRem(21);
      left: 0;
      top: 0;
      bottom: calculateRem(5);
      // IE 11 Hack
      @supports (-ms-ime-align:auto) {
        width: calculateRem(24);
        height: calculateRem(24);
        left: -2;
        top: -2;
      }
      margin: auto;
    }
  }
}

.Form-checkbox {
  // Default Checkbox
  input[type="checkbox"] + label::before {
    background-image: checkbox_default();
  }

  input[type="checkbox"]:focus + label::before {
    background-image: checkbox_focus_default();
  }

  // Default Checkbox Selected
  input[type="checkbox"]:checked + label::before {
    background-image: checkbox_selected();
  }

  input[type="checkbox"]:checked:focus + label::before {
    background-image: checkbox_focus_selected();
  }

  // Error Checkbox
  &.is-error {
    input[type="checkbox"] + label::before {
      background-image: checkbox_error();
    }
    input[type="checkbox"]:checked + label::before {
      background-image: checkbox_error_selected();
    }
    input[type="checkbox"]:focus + label::before {
      background-image: checkbox_focus_error();
    }
    input[type="checkbox"]:checked:focus + label::before {
      background-image: checkbox_focus_error_selected();
    }
  }

  // Disabled Checkbox
  &.is-disabled {
    input[type="checkbox"] + label::before {
      background-image: checkbox_disabled();
    }
    input[type="checkbox"]:checked + label::before {
      background-image: checkbox_disabled_selected();
    }
    input[type="checkbox"]:focus + label::before {
      background-image: checkbox_focus_disabled();
    }
    input[type="checkbox"]:checked:focus + label::before {
      background-image: checkbox_focus_disabled_selected();
    }
  }
}

.Form-radio {
  // Default Radio
  input[type="radio"] + label::before {
    background-image: radio_default();
  }

  input[type="radio"]:focus + label::before {
    background-image: radio_focus_default();
  }

  // Default Radio Selected
  input[type="radio"]:checked + label::before {
    background-image: radio_selected();
  }

  input[type="radio"]:checked:focus + label::before {
    background-image: radio_focus_selected();
  }

  // Error Radio
  &.is-error {
    input[type="radio"] + label::before {
      background-image: radio_error();
    }
    input[type="radio"]:checked + label::before {
      background-image: radio_error_selected();
    }
    input[type="radio"]:focus + label::before {
      background-image: radio_focus_error();
    }
    input[type="radio"]:checked:focus + label::before {
      background-image: radio_focus_error_selected();
    }
  }

  // Disabled Radio
  &.is-disabled {
    input[type="radio"] + label::before {
      background-image: radio_disabled();
    }
    input[type="radio"]:checked + label::before {
      background-image: radio_disabled_selected();
    }
    input[type="radio"]:focus + label::before {
      background-image: radio_focus_disabled();
    }
    input[type="radio"]:checked:focus + label::before {
      background-image: radio_focus_disabled_selected();
    }
  }
}
