.u-screenReaderOnly {
  border: 0 !important;
  // Intentionally keeping pixels here
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: calculateRem(1) !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: calculateRem(1) !important;
  white-space: nowrap !important;
}

.u-screenReaderOnlyFocusable:focus,
.u-screenReaderOnlyFocusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}
